.offers-list{
	display:table;
	margin:0 auto;
}
.offer_item{
	width:455px;
	float:left;
	margin:30px 0;
}
.offer_item .preview_picture{
	float:left;
	margin-right:20px;
}
.offer_item .item_title{
	font-size:34px;
	line-height:136px;
	text-transform:uppercase;
	color:#006b9d;
}
.offer_item .offer_text{
	padding:20px 30px 20px 0;
}
.offer_item .price_line{
	line-height:39px;
}
.offer_item .price{
	font-size:24px;
}
.offer_item .price span{
	font-size:34px;
}
.offer_item .order_link{
	float:right;
	background:url('images/order_arrow.png') no-repeat left center;
	padding-left:22px;
	margin-right:30px;
}
#pagetitle{
	background:url('images/dev_page_header_bg.jpg') no-repeat top center;
	color:#fff;
	line-height:137px;
	font-size:42px;
	margin-top:0;
}
@media screen and (max-width: 970px) {
	.offers-list{
		width:455px;
	}
}
@media screen and (max-width: 639px) {
	.offers-list{
		width:320px;
	}
	.offer_item{
		width:320px;
		margin:0;
	}
}