#submenu_2 {
	width:970px;
	margin:0 auto;
padding:20px 0 0 0;
	background-color:#fff;
}
#submenu_2 ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
#submenu_2  ul li{
	float:left;
	background:url('images/submenu_bg.jpg') no-repeat scroll 0px 0px;
	padding:26px 20px 0 40px;
	height:46px;
}
#submenu_2  ul li.active{
	background-color:#fff;
	padding-right:20px;
}
#submenu_2 ul li.first{
	background-position:0 0;
}
#submenu_2 ul li.first.active{
	background-position:0 -72px;
}
#submenu_2 ul li.first.before_active{
	background-position:0 -144px;
}
#submenu_2 ul li.middle{
	background-position:0px -216px;
}
#submenu_2 ul li.middle.active{
	background-position:0px -288px;
}
#submenu_2 ul li.middle.before_active{
	background-position:0px -360px;
}
#submenu_2 ul li.middle.after_active{
	background-position:0px -432px;
}
#submenu_2 ul li.last{
	background-position:0px -504px;
}
#submenu_2 ul li.last.active{
	background-position:0px -576px;
}
#submenu_2 ul li.last.after_active{
	background-position:0px -648px;
}
