.center-align{
}
.popup_img{
}
.blue-header{
	text-transform:uppercase;
	color:#006b9d;
	font-size:22px;
	line-height:30px;
	margin-bottom:15px;
	display:block;
}
.blue-header-lower{
	color:#006b9d;
	font-size:22px;
	line-height:30px;
	margin-bottom:15px;
	display:block;
}
.gray-header{
	color:#32424f;
	font-size:22px;
	line-height:30px;
	margin-bottom:15px;
	display:block;
	text-transform:uppercase;
}