@font-face {
	font-family: 'Ubuntu';
	src: url('css/fonts/ubuntu-b.eot');
	src: url('css/fonts/ubuntu-bd41d.eot?#iefix') format('embedded-opentype'),
	url('css/fonts/ubuntu-b.woff') format('woff'),
	url('css/fonts/ubuntu-b.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;

}
@font-face {
	font-family: 'Ubuntu';
	src: url('css/fonts/ubuntu-bi.eot');
	src: url('css/fonts/ubuntu-bid41d.eot?#iefix') format('embedded-opentype'),
	url('css/fonts/ubuntu-bi.woff') format('woff'),
	url('css/fonts/ubuntu-bi.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;

}
@font-face {
	font-family: 'Ubuntu';
	src: url('css/fonts/ubuntu-r.eot');
	src: url('css/fonts/ubuntu-rd41d.eot?#iefix') format('embedded-opentype'),
	url('css/fonts/ubuntu-r.woff') format('woff'),
	url('css/fonts/ubuntu-r.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Ubuntu';
	src: url('css/fonts/ubuntu-ri.eot');
	src: url('css/fonts/ubuntu-rid41d.eot?#iefix') format('embedded-opentype'),
	url('css/fonts/ubuntu-ri.woff') format('woff'),
	url('css/fonts/ubuntu-ri.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;

}
body{
	margin:0;
	padding:0;
	text-align:center;
	font-family:  'Ubuntu', Arial, Helvetica, sans-serif;
	color:#2e393c;
	font-size:15px;
}
a{
	color:#006b9d;
}
a:hover{
	color:#3399cc;
	text-decoration:none;
}
#content ul{
	list-style-image:url('images/list_mark.jpg');
}
h1{
	font-size:34px;
	margin:12px 0;
	color:#32424f;
	font-weight:normal;
	text-transform:uppercase;
}
#pagetitle{
	background-color:#fff;
	font-size: 18px;
	margin:0 auto;
}
.header{
	text-transform:uppercase;
	font-weight:normal;
	font-size:34px;
	margin:30px 0;
}
h2{
	margin:10px 0;
	color:#32424f;
	font-size:24px;
	font-weight:normal;
	text-transform:uppercase;
}
h3{
	margin:10px 0;
	color:#32424f;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
}
h4{
	margin:8px 0;
	color:#32424f;
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
}
h5{
	margin:8px 0;
	color:#32424f;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
h6{
	margin:8px 0;
	color:#32424f;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
td{
	text-align:left;
	vertical-align:top;
}
img{
	border:0;
}
hr{
	border:solid 2px #e6ebf1;
	margin:30px 0;
}
input, textarea, select{
	background-color:#d9dee4;
	border-bottom:solid 1px #fdfefe;
	border-right:solid 1px #fdfefe;
	border-top:solid 1px #e9ebee;
	border-left:solid 1px #e9ebee;
	background:url('images/input_bg.jpg') no-repeat left top;
	height:24px;
	padding:1%;
}
select{
	height:38px;
}
textarea{
	height:132px;
}
input[type="submit"], input[type="button"], button, input[type="reset"]{
	border:none;
	color:#fff;
	background-image:none;
	background-color:#1b8675;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:1px;
	padding:13px 24px;
	font-family:'Ubuntu';
	height: auto;
}
input[type="submit"]:hover, button:hover,  input[type="reset"]:hover{
	background-color:#2e393c;
	cursor:pointer;
}
label{
	color:#006b9d;
	font-size:16px;
}
#header{
	height:140px;
	text-align: left;
	margin: 0 auto;
	color: #fff;
	position: relative;
}
#header_bg{
	background:url('images/header_bg.jpg') repeat-x top;
	background-color:#333e41;
}
#header, #topmenu, #service_block, #pagetitle, .bx_breadcrumbs, .banner, .banner a, #portfolio_block, #triggers_block, #news_block, #seo_results_block, #footer, #clients_slider_wrap, #submenu_2{
	width:320px;
	margin: 0 auto;
}
#years, #header_icons{
	display:none;
}
#header_logo{
	width:300px;
	height:45px;
	margin:10px;
	background:url('images/header_logo.png') no-repeat;
	background-size:cover;
	display:block;
	float:left;
}
#header_phones{
	margin:0;
	padding:10px;
	float:none;
	text-align:center;
}
#header_phones a{
	font-size:24px;
	color:#ff8400;
	text-decoration:none;
	-webkit-text-shadow:-1px -1px 0 #20282b;
	-moz-text-shadow:-1px -1px 0 #20282b;
	filter:Shadow(Color=#20282b, Direction=135, Strength=1);
	text-shadow:-1px -1px 0 #20282b;
}
#topmenu ul ul{
	display:none;
}
#topmenu ul li a{
	padding:15px 0;
	font-size:15px;
	width:159px;
}
#service_block{
	margin:0 auto;
	padding:30px 0;
}
#service_block .service_item{
	width:290px;
	padding:15px;
	float:left;
	color: #fff;
}
#service_block .service_item .service_title{
	text-transform:uppercase;
	font-size: 18px;
	text-align:left;
	padding-left:130px;
	min-height:124px;
}
#service_block .service_item .service_title a{
	color:#fff;
	text-decoration:none;
}
#service_block .service_item .service_title a:hover{
	text-decoration:underline;
}
#service_block .service_item  .service_text{
	text-align:left;
	font-size:14px;
	min-height:84px;
	padding-top:10px;
}
#service_block .create{
	background: #14866c url('images/create_bg.jpg') no-repeat left top;
}
#service_block .seo{
	background: #eb8717 url('images/seo_bg.jpg') no-repeat left top;
}
#service_block .advertising{
	background: #5ba9bf url('images/block3_bg.jpg') no-repeat left top;
}
#service_block .support{
	background: #e25951 url('images/support_bg.jpg') no-repeat left top;
}
#service_block .design{
	background: #4a5c9e url('images/design_bg.jpg') no-repeat left top;
}
#service_block .mobile{
	background: #aab721 url('images/mobile_bg.jpg') no-repeat left top;
}
#content_bg{
	background: url('images/bg.jpg') repeat-x top center;
}
#content{
	width:290px;
	padding:15px;
	margin:0 auto;
	line-height:20px;
	background-color:#fff;
	text-align:left;
}
#content .center-align{
	text-align:center;
}
#triggers_block{
	margin:0 auto;
}
#triggers_block .trigger_item{
	width:242px;
	padding:0 39px;
	float:left;
}
#triggers_block .trigger_icon{
	width:137px;
	height:139px;
	background:url('images/trigger_icons.png') no-repeat;
	margin:0 auto;
	display:block;
}
#triggers_block .exp{
	background-position:0 0;
}
#triggers_block .rec{
	background-position:-138px 0;
}
#triggers_block .portf{
	background-position:-274px 0;
}
#triggers_block .garant{
	background-position:-411px 0;
}
#triggers_block .speed {
	background-position:0 -139px;
}
#triggers_block .price{
	background-position:-138px -139px;
}
#triggers_block .trans{
	background-position:-274px -139px;
}
#triggers_block .manag{
	background-position:-411px -139px;
}
#triggers_block .trigger_item{
	height:280px;
}
#triggers_block .trigger_title{
	font-size:24px;
	display:block;
	margin:10px 0;
}
#triggers_block .trigger_text{
	margin:10px 0;
	line-height:24px;
}
.order_button{
	width:320px;
	height:70px;
	padding-top:24px;
	font-size:24px;
	margin:20px auto;
	background:url('images/order_button.png') no-repeat top center;
	display:block;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	line-height:normal;
	text-align:center;
}
.header{
	font-size:24px;
	line-height:32px;
	margin:20px 0;
}
.banner{
	width:320px;
	background:url('images/topmenu_bg.jpg') repeat-y center;
	height:auto;
	padding:15px;
}
.banner .banner_title{
	float:none;
	width:97%;
	text-align:center;
	font-size:24px;
	padding:0;
}
.banner .banner_text{
	float:none;
	width:97%;
	text-align:center;
	font-size:14px;
	padding:0;
}
#news_block .news-item{
	width:260px;
	margin:20px;
	padding-left:30px;
}
#footer_bg{
	background-color:#26994c;
	background:url('images/topmenu_bg.jpg') repeat-y center;
}
#footer{
	padding:0;
	text-align: left;
	margin:0 auto;
	color:#fff;
}
#footer_logo{
	display:none;
}
#footer_left, #footer_center,#footer_right{
	float:none;
	padding:10px 20px;
	margin:0;
	width:280px;
}
#footer_center .footer_menu ul li a{
	line-height:24px;
	font-size:14px;
}
#footer_right{
	font-size:13px;
}
#social_groups a{
	margin:10px 20px 0 0;
}
#footer a{
	color:#fff;
}
#footer_left .contacts{
	line-height:24px;
	margin-top:10px;
}
#footer_left .contacts a{
	text-decoration:none;
}
#copy{
	margin:12px 0 0 0;
	line-height:20px;
}
#social_groups a{
	display:block;
	float:left;
	height:35px;
	width:35px;
	background:url('images/social.png') no-repeat;
	margin: 10px 20px 0 0;
}
#social_groups a.vk{
	background-position:0 0;
}
#social_groups a.gp{
	background-position:-35px 0;
}
#social_groups a.fb{
	background-position:-70px 0;
}
#social_groups a.tw{
	background-position:-105px 0;
}

.white-popup-block {
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 40px auto;
	max-width: 640px;
	padding: 30px;
	position: relative;
	text-align: left;
}
.gray-popup-block {
	background: none repeat scroll 0 0 #e9ebee;
	margin: 40px auto;
	max-width: 640px;
	padding: 30px;
	position: relative;
	text-align: left;
}
.mfp-close-btn-in .gray-popup-block .mfp-close{
	color:#1b8675;
	font-size:36px;
	opacity: 1;
}
.mfp-close-btn-in .gray-popup-block .mfp-close:hover{
	color:#2e393c;
	font-size:38px;
	opacity: 1;
}
/* ====== Zoom effect ====== */
/* start state */
.mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}
/* Dark overlay, start state */
.mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}

@media (min-width: 640px){
	#header, #topmenu, #service_block, #pagetitle, .bx_breadcrumbs, .banner, .banner a, #portfolio_block, #triggers_block, #news_block, #seo_results_block, #footer, #clients_slider_wrap, #topmenu ul ul, #submenu_2{
		width:640px;
	}
	#header{
		height: 100px;
	}
	#header_logo{
		width: 372px;
		height: 56px;
		margin: 24px 0 0 0;
	}
	#header_phones{
		float: right;
		margin: 30px 0 0 0;
		text-align: right;
		padding:0;
	}
	#header_phones a{
		font-size: 28px;
	}
	#submenu_2  ul li.active{
		padding-right:10px;
	}
	#seo_results{
		padding:30px 0;
	}
	#pagetitle{
		font-size:28px;
	}
	#content{
		width:600px;
		padding:20px;
	}
	#topmenu ul li a{
		padding:14px 0;
		font-size:14px;
		width:auto;
	}
	#topmenu ul li a span{
		padding:0 14px;
	}
	#service_block .service_item .service_title{
		font-size:18px;
	}
	.header{
		font-size:28px;
		margin:20px 0;
	}
	.order_button{
		width: 634px;
		height: 70px;
		padding-top: 12px;
		font-size: 36px;
		margin: 30px auto;
	}
	.banner .banner_title{
		font-size:24px;
		padding:24px 1.5%;
	}
	.banner .banner_text{
		font-size:14px;
		padding:20px 1.5%;
	}
	#portfolio_block .bx-prev{
		left:-30px;
	}
	#portfolio_block .bx-next{
		right:-30px;
	}
	#footer{
		padding: 40px 0;
	}
	#footer_left,
	#footer_center,
	#footer_right{
		padding:0;
		width:auto;
	}
	#footer_logo{
		background: url(images/footer_logo.png) no-repeat;
		width: 150px;
		height: 38px;
		display: block;
		margin: 0;
	}
	#footer_left,
	#footer_center{
		float: left;
	}
	#footer_center{
		padding:0;
	}
	#footer_right{
		float:left;
		margin:8px 0 0 50px;
	}
	#social_groups a{
		margin: 30px 20px 0 0;
	}
}
@media (min-width: 970px){
	#header, #topmenu, #service_block, #pagetitle, .bx_breadcrumbs, .banner, .banner a, #portfolio_block, #triggers_block, #news_block, #seo_results_block, #footer, #clients_slider_wrap, #topmenu ul ul, #submenu_2 {
		width:970px;
	}
	#years, #header_icons {
		display: block;
	}
	#years{
		background:url('images/years.png') no-repeat;
		width:145px;
		height:88px;
		position:absolute;
		bottom:0;
		left: 420px;
		z-index:5;
	}
	#header_icons{
		float:left;
		margin:32px 0 0 160px;
		position:relative;
		z-index:10;
	}
	#header_icons a{
		background:url('images/header_icons.png') no-repeat;
		width:26px;
		height:26px;
		display:block;
		float:left;
		margin:0 0 0 20px;
	}
	#header_icons a.mail_icon{
		background-position:0 0;
	}
	#header_icons a.map_icon{
		background-position:-26px 0;
	}
	#header_icons a.phone_icon{
		background-position:-52px 0;
	}
	#header_icons a.sitemap_icon{
		background-position:-79px 0;
	}
	#header_phones {
		float:right;
		margin:30px 0 0 0;
		text-align:right;
	}
	#header_phones a{
		font-size:28px;
	}
	#topmenu{
		width:970px;
	}
	#topmenu ul li a span {
		padding: 0 24px;
	}
	#topmenu ul li a:hover span{
		padding-left:25px;
	}
	#topmenu ul li a {
		font-size: 18px;
	}
	#center_block{
		margin:30px auto;
		width:100%;
	}
	#service_block{
		width:970px;
	}
	#service_block .service_item{
		width:293px;
		padding:15px;
	}
	#service_block .service_item .service_title {
		font-size: 20px;
	}
	#content{
		width:910px;
		padding:20px 30px 30px 30px;
	}
	#pagetitle, .bx_breadcrumbs{
		width:970px;
	}
	.banner{
		width:970px;
		margin:30px auto;
		background:url('images/banner_bg.jpg') no-repeat;
		color:#fff;
		height:75px;
		position:relative;
	}
	.banner a{
		width:970px;
		height:75px;
		position:absolute;
		left:0;
		top:0;
		z-index:10;
	}
	.banner .banner_title{
		float:left;
		font-size:42px;
		width:47%;
		text-align:right;
		text-transform:uppercase;
		padding:1.5%;
	}
	.banner .banner_text{
		float:right;
		font-size:20px;
		width:47%;
		text-align:left;
		padding:1.5%;
	}
	#triggers_block{
		width:970px;
	}
	.order_button:hover{
		color:#fff;
	}
	#portfolio_block{
		width:970px;
	}
	#portfolio_block .bx-prev {
		left: -40px;
	}
	#portfolio_block .bx-next {
		right: -40px;
	}
	#triggers_block .trigger_item {
		padding:0;
	}
	#news_block {
		width:970px;
	}
	#clients_slider_wrap {
		width: 970px;
	}
	#footer{
		padding:40px 0;
		width:970px;
	}
	#footer_left, #footer_center{
		float:left;
	}
	#footer_right{
		float:right;
		margin:0;
	}
	#footer_logo{
		background:url('images/footer_logo.png') no-repeat;
		width:150px;
		height:38px;
		display:block;
		margin:0;
	}
	#footer_center .footer_menu ul li a {
		line-height: 28px;
		font-size: 15px;
	}
}


/* кнопка формы для раздела тех.поддержки*/

a.support_order_link{
	font-size:32px;
	text-transform:uppercase;
	color:#fff;
	display:block;
	padding:30px 30px 25px 30px;
	text-align:center;
	text-decoration:none;
	background: #e04051 url('images/support_order_button.jpg') no-repeat center;
}
a.support_order_link:hover{
	color:#fff;
}

.support-item{
	float:left;
	width:207px;
	margin-right:20px;
	margin-bottom:30px;
	min-height:174px;
	text-align:center;
	color:#006b9d;
	font-size:17px;
}
@media screen and (max-width: 970px) {
	a.support_order_link{
		font-size:26px;
	}
}
@media screen and (max-width: 639px) {
	a.support_order_link{
		font-size:18px;
		line-height:20px;
		padding:20px;
	}
}

/* END кнопка формы для раздела тех.поддержки*/

/* кнопка формы для раздела фир.стиль */

a.firstyle_order_link{
	font-size:32px;
	text-transform:uppercase;
	color:#fff;
	display:block;
	padding:30px 30px 25px 30px;
	text-align:center;
	text-decoration:none;
	background:#004c8d url('images/firstyle_order_button.jpg') no-repeat;
	max-height: 75px;
}
a.firstyle_order_link:hover{
	color:#fff;
}
.firstyle-item{
	float:left;
	width:207px;
	margin-right:20px;
	margin-bottom:30px;
	min-height:174px;
	text-align:center;
	color:#006b9d;
	font-size:17px;
}

@media screen and (max-width: 970px) {
	a.firstyle_order_link{
		font-size:20px;
	}
}
@media screen and (max-width: 639px) {
	a.firstyle_order_link{
		font-size:15px;
		line-height:20px;
		padding:20px;
	}
	#pagetitle{
		line-height:normal;
	}
}

/* END кнопка формы для раздела фир.стиль */

/* кнопка формы для раздела мобильное приложение */

a.mobile_order_link{
	font-size:32px;
	text-transform:uppercase;
	color:#fff;
	display:block;
	padding: 30px 30px 25px 30px;
	text-align:center;
	text-decoration:none;
	background: #93c349 url('images/mobile_order_button.jpg') no-repeat;
}
a.mobile_order_link:hover{
	color:#fff;
}

.mobile-item{
	float:left;
	width:280px;
	margin-right:20px;
	margin-bottom:30px;
	min-height:174px;
	text-align:center;
	color:#006b9d;
	font-size:17px;
}
@media screen and (max-width: 970px) {
	a.mobile_order_link{
		font-size:24px;
		padding:10px 20px;
		line-height:normal;
	}
}
@media screen and (max-width: 639px) {
	a.mobile_order_link{
		font-size:18px;
		line-height:normal;
		padding:10px;
	}
	#pagetitle{
		line-height:normal;
	}
}

/* END кнопка формы для раздела мобильное приложение */