.bx_breadcrumbs{
        padding:20px 0;
	font-size:15px;
	color:#6c7e7e;
        background-color:#fff;
}
.bx_breadcrumbs ul{
    margin:0;
    padding:0
}
.bx_breadcrumbs ul li{
    display:inline-block;
    line-height:20px
}
.bx_breadcrumbs ul li a{
    display:block;
    padding:0 6px;
    text-decoration:none;
	color:#6c7e7e;
}
.bx_breadcrumbs ul li:first-child a{padding-left:0}
.bx_breadcrumbs ul li:last-child  a{background:none}
.bx_breadcrumbs ul li a:hover{
    text-decoration:underline;
    line-height:20px;
}
.bx_breadcrumbs ul li span{
    display:block;
    padding:0 6px;
    text-decoration:none;
}