#topmenu_bg{
	background-color:#26994c;
	background:url('images/topmenu_bg.jpg') repeat-y center;
}
#topmenu{
	text-transform:uppercase;
	margin:0 auto;
	position:relative;
}
#topmenu ul{
	list-style-type:none;
	padding:0;
	margin:0 auto;
	display:table;
}
#topmenu ul ul{
	position:absolute;
	background-color:#3c484b;
	width:970px;
	left:0;
	margin:0;
	text-transform:none;
	padding:15px 0;
	display:none;
	z-index:500;
}
#topmenu ul li{
	float:left;
}
#topmenu ul ul li{
	float:left;
	width:320px;
}
#topmenu ul li a{
	color:#fff;
	text-decoration:none;
	display:block;
	font-size:18px;
	padding:14px 0;
}
#topmenu ul ul li a{
	font-size:15px;
	padding:6px 0 6px 20px;
	color:#999999;
	text-align:left;
	float:left;
}
#topmenu ul li a span{
	padding:0 24px;
	line-height:30px;
	border-left:solid 1px #5fad9e;
	display:block;
}
#topmenu ul ul li a span{
	padding:0 0 0 34px;
	border-left:none;
	line-height:18px;
}
#topmenu ul li:first-child a span{
	border-color: transparent;
}
#topmenu ul li a:hover{
	background-color:#3c484b;
	position:relative;
	margin-right:-1px;
	padding-right:1px;
	z-index:10;
}
#topmenu ul ul li a:hover{
	margin-right:0;
	padding-right:0;
	color:#fff;
}
#topmenu ul li a:hover span{
	border-left:none;
	padding-left:25px;
}
#topmenu ul ul li a:hover span{
	padding:0 0 0 34px;
	background:url('images/topmenu_arrows.png') no-repeat top left;
}
#topmenu ul li a.item_1:hover  span{
	background-position:0 0;
}
#topmenu ul li a.item_2:hover  span{
	background-position:0 -20px;
}
#topmenu ul li a.item_3:hover  span{
	background-position:0 -40px;
}
#topmenu ul li a.item_4:hover  span{
	background-position:0 -60px;
}
#topmenu ul li a.item_5:hover  span{
	background-position:0 -100px;
}
#topmenu ul li a.item_6:hover  span{
	background-position:0 -80px;
}


#topmenu li:hover ul ul,
#topmenu li.jshover ul ul,
#topmenu li:hover ul ul ul,
#topmenu li.jshover ul ul ul,
#topmenu li:hover ul ul ul ul,
#topmenu li.jshover ul ul ul ul,
#topmenu li:hover ul ul ul ul ul,
#topmenu li.jshover ul ul ul ul ul
{
	display:none;
}

#topmenu li:hover ul,
#topmenu li.jshover ul,
#topmenu li li:hover ul,
#topmenu li li.jshover ul,
#topmenu li li li:hover ul,
#topmenu li li li.jshover ul,
#topmenu li li li li:hover ul,
#topmenu li li li li.jshover ul,
#topmenu li li li li li:hover ul,
#topmenu li li li li li.jshover ul
{
	display:block;
}

div.menu-clear-left
{
	clear:left;
}