.work_title{
	font-size:34px;
	line-height:normal;
}
.work_detail  .domain{
	font-size:24px;
	color:#006b9d;
	text-decoration:underline;
	line-height:normal;
	margin:20px 0;
	text-align:center;
}
.work_detail  .detail_text{
	margin:30px 0;
}
.work_detail .detail_picture_bg{
	/*position:absolute;*/
	width:100%;
	background-color:#283234;
	left:0;
	text-align:center;
	padding:30px 0;
}
.work_detail .more_photo_bg{
	position:absolute;
	width:100%;
	background-color:#283234;
	left:0;
	text-align:center;
	padding:30px 0 260px 0;
}
.work_detail .picture_place{
	padding:30px 0;
}
.work_detail .detail_picture{
	margin:0 auto;
	width: 100%;
	max-width:970px;
}
.work_detail .more_photo{
	position:relative;
	z-index:10;
	margin:0 auto;
}
.work_detail .more_photo_wrap{
	text-align:center;
}
#content{
	box-sizing: border-box;
}
#pagetitle{
	background:url('images/portfolio_page_header_bg.jpg') no-repeat top center;
	color:#fff;
	line-height:137px;
	font-size:42px;
	margin-top:0;
}
.navigation{
	font-size:18px;
	line-height:55px;
	color:#2e393c;
	text-align:center;
}
.navigation .nav-arrow-next{
	float:right;
	padding-right:40px;
	margin:0;
	background:url('images/green_arrows.png') no-repeat right -55px;
}
.navigation .nav-arrow-next.disabled{
	background:url('images/green_arrows.png') no-repeat right -165px;
}
.navigation .nav-arrow-prev{
	float:left;
	padding-left:40px;
	margin:0;
	background:url('images/green_arrows.png') no-repeat left 0;
}
.navigation .nav-arrow-prev.disabled{
	background:url('images/green_arrows.png') no-repeat left -110px;
}