#news_block_bg{
	background:url('images/news_block_bg.jpg') repeat-x top;
	background-color:#262f31;
}
#news_block{
	font-size:14px;
	color:#9a9fa0;
	width:970px;
	margin:0 auto;
	padding:30px 0;
}
#news_block .news-item{
	float:left;
	width:280px;
	margin:20px 0 20px 20px;
	padding-left:30px;
	background:url('images/newsitem_bg.png') no-repeat scroll 0 0;
	text-align:left;
	height: 130px;
}
#news_block .news-item .title{
	margin-bottom:10px;
	line-height:24px;
}
#news_block .news-item .title a{
	color:#fff;
	font-size:20px;
}
@media (min-width: 640px) {
	#news_block>div:first-child{
		margin-left:0;
	}
}