.callback-bg.open {
    display: block;
}
.callback-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    z-index: 998;
}
.callback-bg.open .callback-wrap {
    display: block;
}
.callback-wrap {
    position: fixed;
    width: 100%;
    border: 1px solid #fff;
    display: none;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    box-sizing: border-box;
    max-height: 100%;
    text-align: left;
    background: none repeat scroll 0 0 #fff;
    max-width: 600px;
    padding: 30px;
    min-height:316px;
}
#callback-block{
    display:none;
}
#callback-block.open{
    display: block;
}
#rd-callback-form .rd-ok-message{
    color: green;
    display: block;
    text-align: center;
    padding: 110px 0 0;
    font-size: 18px;
}
#header #callback-btn,
#callback-btn{
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: dashed 1px #fff;
}
#callback-close{
    position: absolute;
    right: 10px;
    top: 2px;
    color: #1b8675;
    font-size: 36px;
}
#callback-close:hover{
    color: #2e393c;
    cursor: pointer;
}
#callback-block .input-item{
    margin: 0 0 20px 0;
}
#rd-callback-form{
    position: relative;
}
#rd-callback-form label {
    width: 35%;
    display: block;
    float: left;
}
#rd-callback-form label .asterisk{
    color: #C00000;
}
#rd-callback-form input{
    width: 60%;
}
#rd-callback-form select{
    width:62%;
}
#rd-callback-form .submit-item{
    text-align: right;
}
#rd-callback-form input[type="submit"] {
    border: none;
    color: #fff;
    background-image: none;
    background-color: #1b8675;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 13px 24px;
    font-family: 'Ubuntu';
    width: auto;
    height: auto;
    margin: 0 3% 0 0;
}
#rd-callback-form input[type="submit"]:hover {
    background-color: #2e393c;
    cursor: pointer;
}
#rd-callback-form .pers-agree{
    font-size:12px;
    color:#222;
}
#rd-callback-form .pers-agree a{
    font-size:12px;
    color: #006b9d;
    text-shadow: none;
    text-decoration: underline;
}
#rd-callback-form .preloader{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: absolute;
    left:50%;
    top:50%;
    width:100%;
    height:100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #fff url("images/preloader.gif") no-repeat center center;
    display: block;
}
#rd-callback-form .preloader.open{
    visibility: visible;
    opacity:1;
}
@media (min-width: 640px){

}