

.work_list{
	/*display:table;
	margin:0 auto;*/
}
.work_list .work_item{
	width:310px;
	min-height:333px;
	float:left;
	margin-left:5px;
	margin-bottom:20px;
}
.work_list .work_item .work_img{
	height:277px;
}

.work_list .work_item .work_title{
	text-transform:uppercase;
}
.work_list .work_item .work_info{
    background-color:#e5ebf1;
    padding:20px;
    text-align:center;
    font-size:16x;
    min-height:60px;
}
#content{
	padding-left:0 !important;
	padding-right:0 !important;
	width:320px !important;
}
#pagetitle{
	/*background:url("../../images/portfolio_page_header_bg.jpg") no-repeat top center;*/
	/*color:#fff;*/
	/*line-height:137px;*/
	/*font-size:42px;*/
	/*margin-top:0;*/
}
#submenu_2 ul li.middle.active {
	background-position: 0px -288px;
}

#submenu_2 {
	width: 970px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	background-color: #fff;
}
#submenu_2 ul li.middle {
	background-position: 0px -216px;
}

#submenu_2 ul li.active {
	background-color: #fff;
	padding-right: 20px;
}
#submenu_2 ul li {
	float: left;
	background: url(../../images/submenu_bg.jpg) no-repeat scroll 0px 0px;
	padding: 26px 20px 0 40px;
	height: 46px;
}
#submenu_2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.work_title {
	font-size: 16px;
	line-height: normal;
}
.work_detail .detail_text {
	margin: 30px 0;
}
.work_detail .detail_picture_bg {
	/* position: absolute; */
	width: 100%;
	background-color: #283234;
	left: 0;
	text-align: center;
	padding: 30px 0;
}
#submenu_2 ul li.middle.after_active {
	background-position: 0px -432px;
}
#submenu_2 ul li.last {
	background-position: 0px -504px;
}
.work_detail .domain {
	font-size: 24px;
	color: #006b9d;
	text-decoration: underline;
	line-height: normal;
	margin: 20px 0;
	text-align: center;
}
.offers-list {
	display: table;
	margin: 0 auto;
}
.offer_item {
	width: 455px;
	float: left;
	margin: 30px 0;
}
.offer_item .preview_picture {
	float: left;
	margin-right: 20px;
}
.offer_item .item_title {
	font-size: 34px;
	line-height: 136px;
	text-transform: uppercase;
	color: #006b9d;
}
.offer_item .offer_text {
	padding: 20px 30px 20px 0;
}
.offer_item .price_line {
	line-height: 39px;
}
.offer_item .price {
	font-size: 24px;
}

.offer_item .order_link {
	float: right;
	background: url(images/order_arrow.png) no-repeat left center;
	padding-left: 22px;
	margin-right: 30px;
}

.work_list .work_item .work_info {
    background-color: #e5ebf1;
    padding: 20px;
    text-align: center;
    font-size: 16x;
    min-height: 60px;
}

@media (min-width: 640px) {
	#content{
		width:640px !important;
	}
}
@media (min-width: 970px) {
	#content{
		width:970px !important;
	}
	.work_list .work_item{
		margin-left:10px;
	}
}