#seo_results_bg{
	background:url('images/seo_results_bg.jpg') no-repeat top center;
	background-color:#ea7f17;
}
#seo_results_block{
	width:320px;
	margin:30px auto 0;
}
#seo_results_block .header{
	color:#fff;
	padding:56px 0 20px 0;
	margin:0;
}
#seo_results{
	position:relative;
	background-color:#fff;
	padding:30px 10px;
}
#seo_results .result_item{
	float:left;
	width:310px;
	margin-left:10px;
}
#seo_results>div:first-child{
	margin-left:0;
}
#seo_results .site_logo{
	height:70px;
	display:block;
}
#seo_results .domain{
	text-align:left;
	color:#006b9d;
	text-decoration:underline;
	margin:10px 0;
}
#seo_results .subject{
	text-align:left;
	margin:10px 0;
	height:54px;
}
#seo_results_block .more_link{
	background:url('images/white_arrow.png') no-repeat scroll 0 32px;
	padding:30px 0 30px 20px;
	display:block;
	color:#fff;
	margin:0 auto;
	width:300px;
}
#seo_results .keywords {
	font-size:13px;
	width:100%;
	border-collapse:collapse;
}
#seo_results .keywords th{
	font-size:12px;
	font-style:italic;
	font-weight:normal;
	color:#006b9d;
}
#seo_results .keywords td{
	padding:2px 10px;
}
#seo_results .keywords .position{
	color:#006b9d;
	text-align:center;
}
#seo_results .keywords .even{
	background-color:#e9ebee;
}
#pagetitle{
	background:url('images/seo_page_header_bg.jpg') no-repeat top center;
	color:#fff;
	line-height:137px;
	font-size:42px;
	margin-top:0;
}
@media (min-width: 640px) {
	#seo_results_block{
		width:640px;
	}
	#seo_results_block .more_link{
		width: 440px;
		padding-left:0;
	}
}
@media (min-width: 970px) {
	#seo_results_block{
		width:970px;
	}
}