
#clients_slider_bg{
	background-color:#fff;
	background:url('images/client_slider_bg.jpg') repeat-x top center;
	padding-bottom:70px;
}
#clients_slider_wrap{
	margin:0 auto;
}
#clients_slider_wrap .header{
	margin:0;
	padding:50px 0 30px 0;
}
#clients_slider_wrap .bx-prev{
	display: none;
	height:55px;
	width:21px;
	background:url('images/cs_arrows.png') no-repeat left top;	
	margin-top: -27px;
	left:-41px;
}
#clients_slider_wrap .bx-next{
	display: none;
	height:55px;
	width:21px;
	background:url('images/cs_arrows.png') no-repeat right top;	
	margin-top: -27px;
	right:-41px;
}

@media (min-width: 970px) {
	#clients_slider_wrap .bx-next,
	#clients_slider_wrap .bx-prev{
		display: block;
	}
}