.work_list{
	/*display:table;
	margin:0 auto;*/
}
.work_list .work_item{
	width:310px;
	min-height:360px;
	float:left;
	margin-left:5px;
	margin-bottom:20px;
}
.work_list .work_item .work_img{
	height:277px;
}
.work_list .work_item .work_info{
	background-color:#e5ebf1;
	padding:20px;
	text-align:center;
	font-size:16x;
	min-height:60px;
}
.work_list .work_item .work_title{
	text-transform:uppercase;
}
#content{
	padding-left:0 !important;
	padding-right:0 !important;
	width:320px !important;
}
#pagetitle{
	background:url('images/portfolio_page_header_bg.jpg') no-repeat top center;
	color:#fff;
	line-height:137px;
	font-size:42px;
	margin-top:0;
}
@media (min-width: 640px) {
	#content{
		width:640px !important;
	}
}
@media (min-width: 970px) {
	#content{
		width:970px !important;
	}
	.work_list .work_item{
		margin-left:10px;
	}
}