.navigation{
	font-size:18px;
	line-height:55px;
	color:#2e393c;
	text-align:center;
}
.navigation a, .navigation span{
	margin:0 6px;
}
.navigation .nav-arrow-next{
	float:right;
	padding-right:40px;
	margin:0;
	background:url('images/green_arrows.png') no-repeat right -55px;
}
.navigation .nav-arrow-next.disabled{
	background:url('images/green_arrows.png') no-repeat right -165px;
}
.navigation .nav-arrow-prev{
	float:left;
	padding-left:40px;
	margin:0;
	background:url('images/green_arrows.png') no-repeat left 0;
}
.navigation .nav-arrow-prev.disabled{
	background:url('images/green_arrows.png') no-repeat left -110px;
}

@media screen and (max-width: 970px){
	.navigation{
		font-size:14px;
	}
	.navigation a, .navigation span{
		margin:0 3px;
	}
}
@media screen and (max-width: 639px){
	.navigation{
		font-size:13px;
	}

}