#portfolio_bg{
	background:url('images/portfolio_slider_bg.jpg') no-repeat top center;
}
#portfolio_block{
	margin:30px auto 0;
	height:485px;
}
#portfolio_block .header{
	color:#fff;
	padding:56px 0 20px 0;
	margin:0;
}
#porfolio_slider{
	height:367px;
	position:relative;
	overflow: hidden;
}
#porfolio_slider .slide{
	float:left;
	width:320px;
}
#porfolio_slider .image_link{
	display:block;
	height:286px;
}
#porfolio_slider .slide_title{
	width:240px;
	height:82px;
	display:block;
	color:#aecfc8;
	text-align:left;
	background:url('images/ps_title_bg.png') no-repeat scroll 36px 0;
	padding:0 0 0 80px;
	vertical-align:middle;
	display:table-cell;
}
#portfolio_block .bx-prev{
	display: none;
	width:24px;
	height:73px;
	position:absolute;
	top:116px;
	z-index:10;
	background:url('images/ps_arrows.png') no-repeat;
	background-position:0 0;
	left:-40px;
}
#portfolio_block .bx-next{
	display: none;
	width:24px;
	height:73px;
	position:absolute;
	top:116px;
	z-index:10;
	background:url('images/ps_arrows.png') no-repeat;
	background-position:-24px 0;
	right:-40px;
}
@media (min-width: 970px) {
	#portfolio_block .bx-prev,
	#portfolio_block .bx-next{
		display: block;
	}
}