.review_item{
	margin:30px 0;
}
.review_item .preview_picture{
	border:solid 6px #e3e9ef;
	margin-right:20px;
}
.review_item .title{
	font-size:24px;
	color:#006b9d;
	line-height:normal;
	margin-bottom:10px;
}
#pagetitle{	
	color:#006b9d;
	padding-left:30px;
	width:940px !important;
	text-align:left !important;
}
@media screen and (max-width: 970px) {
	#pagetitle{	
		width:610px !important;
	}
}
@media screen and (max-width: 639px) {
	#pagetitle{	
		width:290px !important;
	}
}