#logo_slider_wrap{
	margin:0 auto;
}
#logo_slider_wrap .header{
	margin:0;
	padding:50px 0 30px 0;
	text-align:center;
}
#logo_slider_wrap .bx-prev{
	height:55px;
	width:21px;
	background:url('images/cs_arrows.png') no-repeat left top;	
	margin-top: -27px;
	left:0;
}
#logo_slider_wrap .bx-next{
	height:55px;
	width:21px;
	background:url('images/cs_arrows.png') no-repeat right top;	
	margin-top: -27px;
	right:0;
}

@media (min-width: 971px) {
	#logo_slider_wrap .bx-next{
		right:-41px;
	}
	#logo_slider_wrap .bx-prev {
		left: -41px;
	}
}