.bx-user-info-thumbnail
{
 	float:left;	
}
.bx-user-info-anchor-cell
{
 	float:left;	
}

.bx-user-info-thumbnail img
{
 	border: 1px solid #E0E0E0; 
}

.bx-user-info-anchor {
	white-space: nowrap; 
	cursor: pointer;
}

.bx-user-info-anchor-nolink {
	white-space: nowrap; 
}

table.bx-user-info-anchor td.bx-user-info-anchor-cell, table.bx-user-info-anchor-nolink td.bx-user-info-anchor-cell {
	padding: 0px 2px !important;
	border: 0px !important;
	background-color: transparent !important;
}

.bx-user-info-data  .bx-user-info-data-separator{
	background-color: #E0E0E0;
	width: 218px;
	height: 1px!important;
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 0px!important;
	font-size: 0px!important;	
}

.bx-user-info-online, .bx-user-info-offline {
	height: 11px;
	width: 11px;
	display: block;	
}

.bx-user-info-online {
	background-image: url(images/icon_online_small.gif);
	background-repeat: no-repeat;	
	background-position: 0 0px;
}

.bx-user-info-online-cell { margin-top: 5px; }
.bx-user-info-name { display: block; zoom: 1; }