.block_title{
	text-transform:uppercase;
	font-size:34px;
	padding:20px 0;
}
.faq-item{
	margin:6px 0;
}
.faq-item .faq-link{
	line-height:30px;
}
.faq-item .answer{
	display:none;
}
.faq-list-bg{
	background:url('images/bg.jpg') repeat-x top center;
}
.faq-list{
	width:320px;
	text-align:left;
	margin:0 auto;
	padding:30px 0;
}
@media (min-width: 640px) {
	.faq-list{
		width:640px;
	}
}
@media (min-width: 970px) {
	.faq-list{
		width:970px;
	}
}