html,body{
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    overflow: auto;
}
.feedback-bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    z-index: 998;
}
.feedback-bg.open{
    display: block;
}
.rd-ok-message{
    color: green;
}
.feedback-hidden-block.open{
    display: block;
}
.feedback-hidden-block {
    position: fixed;
    width: 290px;
    border: 1px solid #d9d9d9;
    background: #eceded;
    padding: 35px 25px 25px;
    display: none;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    box-sizing: border-box;
    max-height:100%;
}
.feedback-hidden-block .form-field{
    margin-top:15px;
    position: relative;
    padding-top: 16px;
}
.feedback-hidden-block .form-field:first-child{
    margin-top:0;
}
.feedback-hidden-block .form-field .name-field{
    position: absolute;
    opacity: 0;
    left: 10px;
    top: 0;
    cursor: text;
    font-size:12px;
    color: #ccc;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-transform: translate3d(0,24px,0);
    transform: translate3d(0,24px,0);
}
.feedback-hidden-block .form-field.focused .name-field{
    opacity:1;
    color: #777;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.feedback-hidden-block .form-field.filled .name-field{
    opacity:1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.feedback-hidden-block .form-field .helper-field{
    position: absolute;
    left: 10px;
    color: #777;
    top: 0;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-transform: translate3d(0,24px,0);
    transform: translate3d(0,24px,0);
}
.feedback-hidden-block .form-field.filled .helper-field{
    opacity:0;
}
.feedback-hidden-block .form-field.focused .helper-field{
    opacity: 0;
    -webkit-transform: translate3d(0,0,0) scale(.75);
    transform: translate3d(0,0,0) scale(.75);
}
.feedback-hidden-block .input-item{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    font-size: 17px;
    padding: 7px 10px;
    height: auto;
    max-width:100%;
}
.feedback-hidden-block .input-item:focus{
    outline:none;
}
.rd-feedback-form{
    width: 100%;
}
.feedback-close{
    color: #b2b3b4;
    position: absolute;
    font-size: 23px;
    right: 8px;
    top: 2px;
}
.feedback-close:hover{
    color: #58595b;
    cursor: pointer;
}
.feedback-hidden-block input[type="submit"] {
    border: none;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 11px 0;
    margin-top: 20px;
}
.feedback-hidden-block input[type="submit"]:hover {
    background-color: #2e393c;
    cursor: pointer;
}
.feedback-hidden-block .pers-agree{
    font-size:12px;
    color:#222;
}
.feedback-hidden-block .pers-agree a{
    font-size:12px;
    color: #006b9d;
    text-shadow: none;
    text-decoration: underline;
}
.feedback-hidden-block .preloader{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    min-height:460px;
    background: #fff url("images/preloader.gif") no-repeat center center;
    display: block;
}
.feedback-hidden-block .preloader.open{
    visibility: visible;
    opacity:1;
}